<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Календарь</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Calendar.styles.css" asp-append-version="true" />
</head>

<body>
    <header class="header">
        <nav class="nav container padd-33">
            <a class="nav-logo">
                <h1>КАЛЕНДАРЬ</h1>
            </a>
            <div class="nav-menu">

                <ul class="nav-list-day">
                    <li class="nav-item">
                        <a class="btn btn-default" id="btn-today">Сегодня</a>
                    </li>
                    <ul class="nav-switch">
                        <li class="nav-item">
                            <img src="~/images/arrow-left.svg" alt="before" class="icon">
                        </li>
                        <li class="nav-item">
                            <h3>Июнь 2024</h3>
                        </li>
                        <li class="nav-item">
                            <img src="~/images/arrow-right.svg" alt="next" class="icon">
                        </li>
                    </ul>

                </ul>
            </div>
            <div class="nav-func">
                <ul class="nav-list-func">
                    <li class="nav-item">
                        <img src="~/images/search-alt.svg" alt="search" class="icon">
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="dropbtn" type="button">Меню</a>
                                <ul class="dropdown-content">
                                    <li><a class="active-link">Месяц</a></li>
                                    <li><a class="active-link">Неделя</a></li>
                                    <li><a class="active-link">День</a></li>
                                </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <h3>ФИО</h3>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
