/* header */
.header[b-uy2ta6uuxa] {
  width: 100%;
  background-color: var(--color-light);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav[b-uy2ta6uuxa] {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  align-items: center;
  column-gap: 3rem;

}

.nav-logo[b-uy2ta6uuxa] {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.6rem;
  position: relative;
  flex-basis: 15%;
  text-align: center;
}

.nav-menu[b-uy2ta6uuxa] {
  display: flex;
  margin-right: auto;
  flex-basis: 45%;
}

.nav-func[b-uy2ta6uuxa] {
  display: flex;
  flex-basis: 20%;
}

.nav-list-day[b-uy2ta6uuxa] {
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
}

.nav-list-func[b-uy2ta6uuxa] {
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
  margin-left: auto;
}

.nav-link[b-uy2ta6uuxa] {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav-link:hover[b-uy2ta6uuxa] {
  color: var(--color-primary)
}

.nav-switch[b-uy2ta6uuxa] {
  display: inline-flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.nav-btns[b-uy2ta6uuxa] {
  display: inline-flex;
  align-items: center;
  /* font-size: 1.5rem; */
  column-gap: 1rem;
}

.active-link[b-uy2ta6uuxa] {
  position: relative;
}

.active-link[b-uy2ta6uuxa]::after {
  content: "";
  position: absolute;
  top: 2.75rem;
  left: 50%;
  width: 0.3rem;
  height: 0.3rem;
  background-color: var(--color-primary);
  border-radius: 50%;
}

/* dropdown menu: month, week, day */
.dropbtn[b-uy2ta6uuxa] {
  color: var(--color-dark);
  border: 2px solid;
  padding: 0.35rem 1rem;
  border-radius: var(--border-radius);
  background-color: var(--color-light);;
}

.dropdown[b-uy2ta6uuxa] {
  /* position: relative;
  display: inline-block; */

  /*                                                            !!! */
  display: none;
}

.dropdown-content[b-uy2ta6uuxa] {
  /*                                                            !!! */
  display: none;  
  position: absolute;
  background-color: var(--color-light);
  min-width: 7.5rem;
  top: 2.45rem;
  left: -1.3rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a[b-uy2ta6uuxa] {
  color: var(--color-dark);
  padding: 1.25rem 1.75rem;
  display: block;
}

.dropdown-content a:hover[b-uy2ta6uuxa] {
  background-color: var(--color-light);
}

.dropdown:hover .dropdown-content[b-uy2ta6uuxa] {
  display: block;
}

.footer[b-uy2ta6uuxa] {
  font-size: var(--small-font-size);
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}