@using Calendar.ViewModels
@model List<UserViewModel>

<body>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">User List</h2>
            </div>
        </div>
    </div>

    <table class=" table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Username
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="50%">
                        @obj.Id
                    </td>
                    <td width="50%">
                        @obj.UserName
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>