<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
</head>

<body>
    <main class="main-content">
        <section class="calendar-section">
            <div class="main-container">

                <div class="left-bar">
                    <a class="btn btn-default"><img src="~/images/plus.svg" alt="create" class="icon create">Создать</a>
                    <div class="calendar-widget-container">
                        <div class="calendar-widget" id="calendar"></div>
                    </div>
                    <div class="user-calendars">
                        <div class="calendar-header">
                            <img src="~/images/check-box.svg" alt="check-box" class="icon">
                            <h3>Мои календари:</h3>
                        </div>
                        <div class="calendar-list">
                            <ul>
                                <li class="calendar-item">
                                    <input type="checkbox" id="checkbox1">
                                    <label for="checkbox1">Календарь цеха</label>
                                </li>
                                <li class="calendar-item">
                                    <input type="checkbox" id="checkbox2">
                                    <label for="checkbox2">Личный календарь</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="calendar">
                    <div class="calendar__header">
                        <div>Пн</div>
                        <div>Вт</div>
                        <div>Ср</div>
                        <div>Чт</div>
                        <div>Пт</div>
                        <div>Сб</div>
                        <div>Вс</div>
                    </div>
                    <div class="weeks">
                        <div class="calendar__week">
                            <div class="calendar__day day"><span class="last-month">28</span></div>
                            <div class="calendar__day day"><span class="last-month">29</span></div>
                            <div class="calendar__day day"><span class="last-month">30</span></div>
                            <div class="calendar__day day"><span class="last-month">31</span></div>
                            <div class="calendar__day day"><span>1</span></div>
                            <div class="calendar__day day"><span>2</span></div>
                            <div class="calendar__day day"><span>3</span></div>
                        </div>
                        <div class="calendar__week">
                            <div class="calendar__day day calendar-event"><span>4</span></div>
                            <div class="calendar__day day"><span>5</span></div>
                            <div class="calendar__day day"><span>6</span></div>
                            <div class="calendar__day day"><span>7</span></div>
                            <div class="calendar__day day calendar-event"><span>8</span></div>
                            <div class="calendar__day day"><span>9</span></div>
                            <div class="calendar__day day"><span>10</span></div>
                        </div>
                        <div class="calendar__week">
                            <div class="calendar__day day"><span>11</span></div>
                            <div class="calendar__day day calendar-event"><span>12</span></div>
                            <div class="calendar__day day"><span>13</span></div>
                            <div class="calendar__day day"><span>14</span></div>
                            <div class="calendar__day day"><span>15</span></div>
                            <div class="calendar__day day calendar-event"><span>16</span></div>
                            <div class="calendar__day day calendar-event"><span>17</span></div>
                        </div>
                        <div class="calendar__week">
                            <div class="calendar__day day"><span>18</span></div>
                            <div class="calendar__day day"><span>19</span></div>
                            <div class="calendar__day day"><span class="active">20</span></div>
                            <div class="calendar__day day"><span>21</span></div>
                            <div class="calendar__day day"><span>22</span></div>
                            <div class="calendar__day day"><span>23</span></div>
                            <div class="calendar__day day"><span>24</span></div>
                        </div>
                        <div class="calendar__week">
                            <div class="calendar__day day"><span>25</span></div>
                            <div class="calendar__day day"><span>26</span></div>
                            <div class="calendar__day day"><span>27</span></div>
                            <div class="calendar__day day"><span>28</span></div>
                            <div class="calendar__day day"><span>29</span></div>
                            <div class="calendar__day day"><span>30</span></div>
                            <div class="calendar__day day"><span>31</span></div>
                        </div>
                    </div>

                </div>

                <div class="calendar-events">
                    <div class="chosen-date">
                        <h3>Вс, Июнь 16, 2024</h3>
                    </div>
                    <div class="list-events">
                        <ul class="events">
                            <li>
                                <div class="event-container">
                                    <div class="event-info">
                                        <div class="start-time">10:00</div>
                                        <div class="duration">1 час</div>
                                    </div>
                                    <div class="event-title">Ужсужс</div>
                                </div>
                            </li>
                            <li>
                                <div class="event-container">
                                    <div class="event-info">
                                        <div class="start-time">10:00</div>
                                        <div class="duration">1 час</div>
                                    </div>
                                    <div class="event-title">Важное Совещание</div>
                                </div>
                            </li>

                            <li>
                                <div class="event-container">
                                    <div class="event-info">
                                        <div class="start-time">10:00</div>
                                        <div class="duration">1 час</div>
                                    </div>
                                    <div class="event-title">Почему каелндарь такой трудный</div>
                                </div>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>