<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
</head>

<body>
    <main class="main-content">
        <section class="calendar-section">
            <div class="main-container">

                <div class="left-bar">
                    <a href="#openModal" class="btn btn-default" id="open-modal"> @* asp-controller="CalendarEvent"
                        asp-action="Create" *@
                        <img src="~/images/plus.svg" alt="create" class="icon create">
                        Создать</a>
                    <div class="calendar-widget-container">
                        <div class="calendar-widget" id="calendar"></div>
                    </div>
                    <div class="user-calendars">
                        <div class="calendar-header">
                            <img src="~/images/check-box.svg" alt="check-box" class="icon">
                            <h3>Мои календари:</h3>
                        </div>
                        <div class="calendar-list">
                            <ul>
                                <li class="calendar-item">
                                    <input type="checkbox" id="checkbox1">
                                    <label for="checkbox1">Календарь цеха</label>
                                </li>
                                <li class="calendar-item">
                                    <input type="checkbox" id="checkbox2">
                                    <label for="checkbox2">Личный календарь</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="calendar">
                    <div class="calendar__header">
                        <div>Пн</div>
                        <div>Вт</div>
                        <div>Ср</div>
                        <div>Чт</div>
                        <div>Пт</div>
                        <div>Сб</div>
                        <div>Вс</div>
                    </div>
                    <div class="weeks">
                        <div class="calendar__week">
                            <div class="calendar__day day"><span class="last-month">28</span></div>
                            <div class="calendar__day day"><span class="last-month">29</span></div>
                            <div class="calendar__day day"><span class="last-month">30</span></div>
                            <div class="calendar__day day"><span class="last-month">31</span></div>
                            <div class="calendar__day day"><span>1</span></div>
                            <div class="calendar__day day"><span>2</span></div>
                            <div class="calendar__day day"><span>3</span></div>
                        </div>
                        <div class="calendar__week">
                            @* calendar-event --> in div class *@
                            <div class="calendar__day day"><span>4</span></div>
                            <div class="calendar__day day"><span>5</span></div>
                            <div class="calendar__day day"><span>6</span></div>
                            <div class="calendar__day day"><span>7</span></div>
                            <div class="calendar__day day"><span>8</span></div>
                            <div class="calendar__day day"><span>9</span></div>
                            <div class="calendar__day day"><span>10</span></div>
                        </div>
                        <div class="calendar__week">
                            <div class="calendar__day day"><span>11</span></div>
                            <div class="calendar__day day"><span>12</span></div>
                            <div class="calendar__day day"><span>13</span></div>
                            <div class="calendar__day day"><span>14</span></div>
                            <div class="calendar__day day"><span>15</span></div>
                            <div class="calendar__day day"><span>16</span></div>
                            <div class="calendar__day day"><span>17</span></div>
                        </div>
                        <div class="calendar__week">
                            <div class="calendar__day day"><span>18</span></div>
                            <div class="calendar__day day"><span>19</span></div>
                            <div class="calendar__day day"><span>20</span></div>
                            <div class="calendar__day day"><span>21</span></div>
                            <div class="calendar__day day"><span>22</span></div>
                            <div class="calendar__day day"><span>23</span></div>
                            <div class="calendar__day day"><span>24</span></div>
                        </div>
                        <div class="calendar__week">
                            <div class="calendar__day day"><span>25</span></div>
                            <div class="calendar__day day"><span>26</span></div>
                            <div class="calendar__day day"><span>27</span></div>
                            <div class="calendar__day day"><span>28</span></div>
                            <div class="calendar__day day"><span>29</span></div>
                            <div class="calendar__day day"><span>30</span></div>
                            <div class="calendar__day day"><span>31</span></div>
                        </div>
                    </div>

                </div>

                <div class="calendar-events">
                    <div class="chosen-date">
                        <h3>Вс, Июнь 16, 2024</h3>
                    </div>
                    <div class="list-events">
                        <ul class="events">
                            <li>
                                <a href="#openModal"> @* asp-controller="CalendarEvent" asp-action="Details" *@
                                    <div class="event-card">
                                        <div class="event-time">
                                            <div class="start-time">10:00</div>
                                            <div class="duration">1 час</div>
                                        </div>
                                        <div class="event-title">Ужсужс</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="event-card">
                                    <div class="event-time">
                                        <div class="start-time">10:00</div>
                                        <div class="duration">1 час</div>
                                    </div>
                                    <div class="event-title">Важное Совещание</div>
                                </div>
                            </li>

                            <li>
                                <div class="event-card">
                                    <div class="event-time">
                                        <div class="start-time">10:00</div>
                                        <div class="duration">1 час</div>
                                    </div>
                                    <div class="event-title">Почему каелндарь такой трудный</div>
                                </div>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div id="openModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <ul>
                            <li>
                                <a><img src="~/images/edit.svg" alt="edit" class="icon"></a>
                                <h3>Редактировать</h3>
                            </li>
                            <li>
                                <a><img src="~/images/delete.svg" alt="delete" class="icon"></a>
                                <h3>Удалить</h3>
                            </li>
                            <li>
                                <a><img src="~/images/tag.svg" alt="tag" class="icon"></a>
                                <h3>Добавить метку</h3>
                            </li>
                        </ul>
                        <a href="#close" title="Close" class="close">×</a>
                    </div>
                    <div class="modal-body">
                        <h2>Заголовок</h2>
                        <div class="time-info">
                            <img src="~/images/time.svg" alt="time" class="icon">
                            <p>Вс, Июнь 16, 2024 | 17:00 - 17:30</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>